<header>

  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
      </ul>
      <ul class="header-links pull-right">
      </ul>
    </div>
  </div>

  <div id="header">
    <!-- container -->
    <div class="container">

      <div class="row">

        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="" alt=""  width="200px">
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="header-search">
            <form>
              <input class="input" placeholder="Bạn muốn tìm gì">
              <button class="search-btn">
                Tìm kiếm
              </button>
            </form>
          </div>
        </div>

        <div class="col-md-3 clearfix">
          <div class="header-ctn">

            <div>
              <a href="#">
                <i class="bx bxs-user"></i>
                <span>Đăng nhập</span>
              </a>
            </div>

            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class='bx bxs-cart'></i>
                <span>Giỏ hàng</span>
                <div class="qty">3</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list">
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="" alt="">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price"><span class="qty">1x</span>450.000đ</h4>
                    </div>
                    <button class="delete"><i class="bx bx-x"></i></button>
                  </div>

                  <div class="product-widget">
                    <div class="product-img">
                      <img src="" alt="">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price"><span class="qty">1x</span>550.000đ</h4>
                    </div>
                    <button class="delete"><i class="bx bx-x"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>2 sản phẩm được chọn</small>
                  <h5>Tổng tiền: 1.000.000đ</h5>
                </div>
                <div class="cart-btns">
                  <a href="#">Xem giỏ hàng</a>
                  <a href="#">Thanh toán</a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    
    </div>

  </div>

</header>